.main-container(data-spy="scroll", data-target="#navigation", data-offset="80")
  section#home(data-stellar-background-ratio="0.5", data-stellar-vertical-offset="")
    .parallax-overlay
    .home-content.text-center
      .container
        h1.slide-logo
          img(src="images/whale.png")
        h1.slide-logo Barnacle Translations
        .main-flex-slider
          ul.slides
            li
              h1 translation
            li
              h1 transcription
            li
              h1 editing & proofreading
        h2.slide-btm-text -- Business and corporate translations --
        .home-arrow-down.text-center
          p
            a.btn.btn-lg.btn-theme-color.scroll(href="#about") quote us now!

  section#navigation
    .navbar.navbar-default.navbar-static-top(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="index.html") Barnacle Translations
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.scroll(href="#home") Home
            li
              a.scroll(href="#about") About
            li
              a.scroll(href="#services") Services
            li
              a.scroll(href="#work") Work
            li
              a.scroll(href="#contact") Contact

  section#about.padding-80
    .about-section
      .container
        .section-heading.text-center
          h4.small.section-title
            span We love what we do?
          h2.large.section-title About us
      .container
        .row
          .col-md-12.col-sm-12
            .about-more-info.wow.animated.fadeInDown(data-wow-duration="0.3s")
              p.bigger
                | Barnacle translations is a translations, and proofreading company dedicated in delivering quality services to businesses wishing to communicate and do business in an ever increasing global market.
              p.bigger
                | At Barnacle translations, we have a highly organised and efficient team used to handling and dealing with incoming requests from around the world.
              p.bigger
                | For more information on our services, see
                a.scroll(href="#contact")  contact us
                |  for more details.
          //- .col-md-6.col-sm-6
          //-   .about-box.wow.animated.fadeInDown(data-wow-delay="0.5")
          //-     .about-box-icon
          //-       i.ion-ios7-infinite-outline
          //-     .about-box-text
          //-       h4 Clean Code
          //-       p
          //-         | Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa
        //- .row
        //-   .col-md-6.col-sm-6
        //-     .about-box.wow.animated.fadeInDown(data-wow-delay="0.6s")
        //-       .about-box-icon
        //-         i.ion-ios7-star-outline
        //-       .about-box-text
        //-         h4 Unique Designs
        //-         p
        //-           | Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa
        //-   .col-md-6.col-sm-6
        //-     .about-box.wow.animated.fadeInDown(data-wow-delay="0.8s")
        //-       .about-box-icon
        //-         i.ion-person-stalker
        //-       .about-box-text
        //-         h4 Creative Team
        //-         p
        //-           | Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa


    .purchase-now
      .container
        .row
          .col-sm-8
            //- h1.wow.animated.fadeInLeft(data-wow-delay="0.3s")
            //-   | Using Design as a
            //-   strong Business
            //-   | Strategy
          .col-sm-4
            //- a.btn.btn-lg.btn-theme-color.wow.animated.bounceIn(href="#", data-wow-delay="0.6s")  Purchase Now

  section#services.padding-80
    .services-section-1
      .container
        .section-heading.text-center
          h4.small.section-title
            span What we do?
          h2.large.section-title Our Services
      .container
        .row
          .col-md-12
            .margin-btm-40
              //- h4 Flexibility built in
              p.bigger
                | We offer services in translation, editing and proofreading as well as transcription to people and business in the UK and beyond.
              p.bigger
                | We are a company that has been active since 2012, offering companies the very best in translation services. As a result of our success, our company has largely expanded since its beginnings and is currently working with companies both at a regional level as well as internationally. Notably with many clients coming from Latin America.
        .row
          .col-md-6.wow.animated.fadeInLeft(data-wow-delay="0.3s")
            .row.margin-btm-20
              .col-md-10
                .services-icon
                  h3.left Translations
              .col-md-2
                .services-icon
                  i.ion-images
                  //- p
                  //-   | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor.
            .row.margin-btm-20
              .col-md-10
                .services-icon
                  h3.left Editing
              .col-md-2
                .services-icon
                  i.ion-compose
                  //- p
                  //-   | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor.
            //- .row.margin-btm-20
            //-   .col-md-2
            //-     .services-icon
            //-       i.ion-leaf
            //-   .col-md-10
            //-     .services-icon
            //-       h3 Logo design
            //-       p
            //-         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor.
            //- .row.margin-btm-20
            //-   .col-md-2
            //-     .services-icon
            //-       i.ion-speedometer
            //-   .col-md-10
            //-     .services-icon
            //-       h3 Search engine optimization(seo)
            //-       p
            //-         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor.
          .col-md-6.wow.animated.fadeInRight(data-wow-delay="0.6s")
            .row.margin-btm-20
              .col-md-2
                .services-icon
                  i.ion-chatbox-working
              .col-md-10
                .services-icon
                  h3 Transcription
                  //- p
                  //-   | We use the latest technology to give you the best solution for your Internet presence.
            .row.margin-btm-20
              .col-md-2
                .services-icon
                  i.ion-checkmark
              .col-md-10
                .services-icon
                  h3 Proofreading
                  //- p
                  //-   | iOS and Android apps
            //- .row.margin-btm-20
            //-   .col-md-2
            //-     .services-icon
            //-       i.ion-leaf
            //-   .col-md-10
            //-     .services-info
            //-       h3 Logo design
            //-       p
            //-         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor.
            //- .row.margin-btm-20
            //-   .col-md-2
            //-     .services-icon
            //-       i.ion-speedometer
            //-   .col-md-10
            //-     .services-info
            //-       h3 Search engine optimization(seo)
            //-       p
            //-         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget viverra augue. Nunc dignissim rutrum tempor.
    .services-section-2.wow.animated.fadeInUp(data-wow-delay=".4s")
      .container
        .row
          .col-md-12.text-center
            //- h1 Subscribe to Newsletter
            //- form.newsletter-form
            //-   .row
            //-     .col-sm-4.col-sm-offset-4
            //-       .input-group
            //-         label.sr-only(for="subscribe-email") Email address
            //-         input#subscribe-email.form-control(type="email", placeholder="Enter your email")
            //-         span.input-group-btn
            //-           button.btn.btn-theme-color.btn-lg(type="submit") OK

  //- section#work.padding-80
  //-   .work-section-2
  //-     .container
  //-       .row
  //-         .col-md-12.text-center.margin-btm-40
  //-           .section-heading.text-center
  //-             h2.large.section-title Our valuable team

  //-         .col-md-12.team-line.margin-btm-40.wow.animated.fadeInDown(data-wow-delay='.4s')
  //-           .row
  //-             .col-md-2.col-sm-4.col-xs-12
  //-               img(src='images/team-1.jpg', alt='team', data-toggle='tooltip', title='', data-original-title='john Doe - CEO')
  //-             .col-md-2.col-sm-4.col-xs-12
  //-               img(src='images/team-2.jpg', alt='team', data-toggle='tooltip', title='', data-original-title='Melinda - Manager')
  //-             .col-md-2.col-sm-4.col-xs-12
  //-               img(src='images/team-3.jpg', alt='team', data-toggle='tooltip', title='', data-original-title='Erick - Founder')
  //-             .col-md-2.col-sm-4.col-xs-12
  //-               img(src='images/team-4.jpg', alt='team', data-toggle='tooltip', title='', data-original-title='Edward - Developer')
  //-             .col-md-2.col-sm-4.col-xs-12
  //-               img(src='images/team-5.jpg', alt='team', data-toggle='tooltip', title='', data-original-title='Kirk - Senior Developer')
  //-             .col-md-2.col-sm-4.col-xs-12
  //-               img(src='images/team-6.jpg', alt='team', data-toggle='tooltip', title='', data-original-title='Greem - CEO, Founder')

  //-         .col-md-12.team-line.margin-btm-40.wow.animated.fadeInUp(data-wow-delay='.8s')
  //-           .row
  //-             .col-md-2.col-sm-4.col-xs-12
  //-               img(src='images/team-7.jpg', alt='team', data-toggle='tooltip', title='', data-original-title='Steven - Graphics designer')
  //-             .col-md-2.col-sm-4.col-xs-12
  //-               img(src='images/team-8.jpg', alt='team', data-toggle='tooltip', title='', data-original-title='henricks - Senior Designer')
  //-             .col-md-2.col-sm-4.col-xs-12
  //-               img(src='images/team-9.jpg', alt='team', data-toggle='tooltip', title='', data-original-title='Victoria - Hr')
  //-             .col-md-2.col-sm-4.col-xs-12
  //-               img(src='images/team-10.jpg', alt='team', data-toggle='tooltip', title='', data-original-title='Anjelina - Designer')
  //-             .col-md-2.col-sm-4.col-xs-12
  //-               img(src='images/team-11.jpg', alt='team', data-toggle='tooltip', title='', data-original-title='john Smith - Senior Hr')
  //-             .col-md-2.col-sm-4.col-xs-12
  //-               img(src='images/team-12.jpg', alt='team', data-toggle='tooltip', title='', data-original-title='john - Sales manager')


  //-   .pricing-section-2
  //-     .container.text-center.wow.animated.bounceIn
  //- h1 have creative ideas? let help us
  //- p
  //-   a.btn.btn-lg.btn-theme-color(href="#contact") Contact us

  section#contact.padding-80
    .contact-sec-1
      .container
        .section-heading.text-center
          h4.small.section-title
            span we Love to here from you
          h2.large.section-title Contact Us
      .container(ng-controller="ContactCtrl as contact")
        .row
          .col-md-8(ng-show="contact.submitted")
            .jumbotron
              h1 Thank you!
              p We will get in touch soon {{contact.sender}}!
          .col-md-8(ng-show="!contact.submitted")
            h4 Get in touch
            form.wow.animated.fadeInLeft(data-wow-delay=".3s" ng-submit="contact.sendMessage(contactForm.$valid)" name="contactForm" novalidate)
              .row
                .col-md-6.form-group(ng-class="{'has-error': contactForm.name.$invalid && !contactForm.name.$pristine, 'has-success': contactForm.name.$valid && !contactForm.name.$pristine}")
                  label.control-label(for="name") Name
                  input#name.form-control(type="text" ng-model="contact.formParams.name" name="name" required)

                .col-md-6.form-group(ng-class="{'has-error': contactForm.email.$invalid && !contactForm.email.$pristine, 'has-success': contactForm.email.$valid && !contactForm.email.$pristine}")
                  label.control-label(for="email") Email
                  input#email.form-control(type="email" ng-model="contact.formParams.email" name="email" required)

                .col-md-12.form-group(ng-class="{'has-error': contactForm.subject.$invalid && !contactForm.subject.$pristine, 'has-success': contactForm.subject.$valid && !contactForm.subject.$pristine}")
                  label.control-label(for="subject") Subject
                  input#subject.form-control(type="text" ng-model="contact.formParams.subject" name="subject" required)

                .col-md-12.form-group(ng-class="{'has-error': contactForm.message.$invalid && !contactForm.message.$pristine, 'has-success': contactForm.message.$valid && !contactForm.message.$pristine}")
                  label.control-label(for="message") Message
                  textarea#message.form-control(rows="7" ng-model="contact.formParams.message" name="message" required)

                .col-md-12.text-right
                  button.btn.btn-theme-color.btn-lg(type="submit" ng-disabled="contactForm.$invalid")
                    | Send Message
                    i.ion-paper-airplane
          .col-md-4
            h4 Contact info
            .contact-info.wow.animated.fadeInRight(data-wow-delay=".6s")
              p
                i.ion-location
                |  Perú
              p
                i.ion-ios7-telephone
                |  +91 141-1234567890
              p
                i.ion-email
                a(href="#")
                  |  info@barnacletranslations.com
              p
                i.ion-clock
                |  Monday-Friday 9:30-5:30pm
              hr
              //
                h4 Elsewhere
                ul.list-inline.social-colored
                  li
                    a(href="#")
                      i.ion-social-facebook.icon-fb(data-toggle="tooltip", title="", data-original-title="Facebook", data-placement="top")
                  li
                    a(href="#")
                      i.ion-social-twitter.icon-twit(data-toggle="tooltip", title="", data-original-title="Twitter", data-placement="top")
                  li
                    a(href="#")
                      i.ion-social-googleplus.icon-plus(data-toggle="tooltip", title="", data-original-title="Google pluse", data-placement="top")

  #map-canvas(style='width: 100%; height: 350px;')

  .contact-sec-2
    .container.text-center
      .row
        .col-sm-4
          .contact-col.wow.animated.flipInY(data-wow-delay=".3s")
            i.ion-ios7-telephone-outline
            p +91 0141 123456789
        .col-sm-4
          .contact-col.wow.animated.flipInY(data-wow-delay=".3s")
            i.ion-email
            p info@barnacletranslations.com
        .col-sm-4
          .contact-col.wow.animated.flipInY(data-wow-delay=".3s")
            i.ion-location
            p
              | London
              br
              | UK

  section#footer.padding-80
    .container
      .row
        .col-md-6.col-sm-6.copyright
          span &#169;2014. Barnacle Translations. All right reserved
        .col-md-6.col-sm-6.footer-nav
          ul.list-inline
            li
              a.scroll(href="#home") Home
            li
              a.scroll(href="#about") About
            li
              a.scroll(href="#services") Services
            li
              a.scroll(href="#contact") Contact

  // build:js({.tmp,app}) scripts/scripts_customs.js
  script(src="scripts/customs/main-scripts.js")
  // endbuild
